@charset "utf-8";

/*---------------------------------------------------------
　　　　　丸点たち
---------------------------------------------------------*/

/*@media screen and (max-width: 990px)*/
/*.detail {
    width: 100%!important;
    float: none!important;
    margin: 0!important;
    padding-top: 75px;
    z-index: 2;
}*/
.maru {
	max-width: 1700px;
    position: relative;
    z-index: 30000;
}

/*@media screen and (max-width: 990px){*/
.dots {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
}


ol li, ul li {
    list-style: none;
}

.dots-child {
    position: absolute;
}
.dots-child span {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}


.dots-child-1 {
    width: 20px;
    height: 20px;
    top: 318px;
    left: 122px;
}
.dots-child-1 span {
    background-color: #00ff7f;
}


.dots-child-2 {
    width: 100px;
    height: 100px;
    top: 140px;
    left: 110px;
}
.dots-child-2 span {
	opacity:50%;
	background: linear-gradient(25deg, #fb83fa, #FFC778); 
	opacity:50%;
}

.dots-child-3 {
    width: 40px;
    height: 40px;
    top: 50px;
    right: 36px;
}
.dots-child-3 span {
    background-color: #fcc800;
}
.dots-child-4 {
    width: 10px;
    height: 10px;
    top: 111px;
    right: 29px;
}
.dots-child-4 span {
    background-color: #00b4e3;
}

.dots-child-5 {
    width: 130px;
    height: 130px;
    top: 90px;
    right: -130px;
}
.dots-child-5 span {
    
	background: linear-gradient(25deg, #F13F79, #FFC778); 
}
.dots-child-6 {
    width: 130px;
    height: 130px;
    top: 390px;
    right: 10px;
}
.dots-child-6 span {
    opacity:50%;
	background: linear-gradient(25deg, #d2ff52, #00ffff); 
}

/*---------------------------------------------------------
　　　　　丸点たちここまで
---------------------------------------------------------*/


/*---------------------------------------------------------
　　　　　KID
---------------------------------------------------------*/

.wrap {
  opacity: 0;
  visibility: hidden
}
.wrap.is-shown {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s linear;
  transition: all 1s linear
}

.keyvisual {
  position: relative;
  z-index: 8;
  margin: 20px 0 0px
}
@media screen and (max-width:768px) {
  .keyvisual {
    margin: 73px 0 40px;
    padding: 0 10px
  }
}
.keyvisual .container {
  -webkit-box-align: end;
  align-items: flex-end;
  opacity: 0
}
@media screen and (max-width:768px) {
  .keyvisual .container {
    -webkit-box-align: start;
    align-items: flex-start;
    height: auto
  }
}
.keyvisual-slide {
  width: 100%;
  margin: auto
}
@media screen and (max-width:768px) {
  .keyvisual-slide {
    left: 0;
    width: 100%
  }
}
.keyvisual-slide img {
  width: 100%;
  border-radius: 8px
}
@media screen and (max-width:768px) {
  .keyvisual-slide img {
    border-radius: 4px
  }
}
.keyvisual-copy {
  position: absolute;
  bottom: 40px;
  left: 60px;
  max-width: 556px;
  width: 49%;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
@media screen and (max-width:768px) {
  .keyvisual-copy {
    width: 90%;
    left: 15px;
    bottom: 20px
  }
}
.keyvisual-copy img {
  width: 100%
}
.keyvisual .btn {
  position: absolute;
  bottom: 40px;
  right: 60px;
  opacity: 0
}
@media screen and (max-width:768px) {
  .keyvisual .btn {
    display: none
  }
}
.keyvisual.is-shown .container {
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  -webkit-transition-delay: .4s;
  transition-delay: .4s
}
.keyvisual.is-shown .container, .keyvisual.is-shown .keyvisual-copy {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.keyvisual.is-shown .keyvisual-copy {
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  -webkit-transition-delay: .8s;
  transition-delay: .8s
}
.keyvisual.is-shown .btn {
  -webkit-animation: btnin .6s ease 1.4s normal forwards;
  animation: btnin .6s ease 1.4s normal forwards
}

.container, section {
  position: relative
}
.container {
  z-index: 10;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 1366px;
  width: 100%;
  margin: auto;
  padding: 0 36px
}
@media screen and (max-width:1440px) {
  .container {
    padding: 0 50px
  }
}
@media screen and (max-width:768px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    padding: 0 10px
  }
}

.header .container {
  padding: 0
}
@media screen and (max-width:768px) {
  .header .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center
  }
}


.header.is-half .container {
  -webkit-box-align: center;
  align-items: center
}

@media screen and (max-width:768px) {
  .desktop {
    display: none !important
  }
}

.mobile {
  display: none
}
@media screen and (max-width:768px) {
  .mobile {
    display: block
  }
}

/*---------------------------------------------------------
　　　　　KIDここまで
---------------------------------------------------------*/


/*---------------------------------------------------------
　　　　　pr-con
---------------------------------------------------------*/

.l-container {
  padding-top: 65px;
}

/*-----------後から追加 ---------------------*/

@media (min-width: 600px){
#l-container{
	position: relative;/*後から追加*/
    background: url("../img/bg_4.png") 
	no-repeat bottom 0 left 150px;/*デフォルトは90px*/
    max-width: 1920px;
	padding-bottom: 84px;
	z-index: 10;
}
}

	
/*-----------後から追加ここまで ---------------------*/
	

.l-container:after {
  content: '';
  width: 100%;
  height: 19px;
  display: block;
  position: fixed;
  top: 0;
  z-index: 999999;
  background: url("../img/common/bg-flag-top.png") repeat-x 0 0;
}
	
.l-content {
  margin-right: auto;
  margin-left: auto;
  width: 900px;
}
	
.top-hero:before, .top-hero:after {
  display: table;
  content: ' ';
}

.top-hero:after {
  clear: both;
}
.top-hero-intro {
  padding-top: 103px;
  float: left;
  width: 320px;
  position: relative;
  z-index: 20;/*後から追加*/
}

.top-hero-lead {
  margin-bottom: 12px;/*元は112px*/
}

.top-hero-canvas {
  margin-right: -45px;

  float: right;
  width: 596px;
}

/*---------------------------------------------------------
　　　　　pr-conここまで
---------------------------------------------------------*/
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	