@charset "utf-8";
/* CSS Document */

html, body {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.5;
	font-size: 14px;
	color: #000000;
}
p {
	color: #000000;
 }
img {
	width: 100%;
	vertical-align: bottom
}
.sp {
	display: block
}
.tb {
	display: none;
}
.pc {
	display: none;
}
.btn {
	max-width: 240px;
    margin: 30px auto 0;
    display: block;
    box-sizing: border-box;
}
header {
	background-image: url(../img/bg_head.jpg);
	background-repeat: repeat-x;
}
#container {
	color: #ffffff;
	font-size: 12px;
	min-width: 320px;
}
#head {
    text-align: center;
}
#head .ttl img{
	max-width: 1400px;
}
#nav_list {
	background: #fe8538;
	z-index: 100;
	box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
}
#nav_list ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 800px;
    padding: 15px 0;
}
#nav_list li {
    width: 32.5%;
    text-align: center;
    max-width: 333px;
}
#nav_list li:nth-child(2) {
	border-right: 1px solid #f0d892;
	border-left: 1px solid #f0d892;
}
#nav_list li a {
    display: block;
    padding: 0 15px;
}
#nav_list li img {
	max-width: 156px;
}
.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#list_chara li img,
#list_gacha li img {
  box-shadow: 3px 3px 6px 0px #b8a66e;
}
#list_chara {
	background: url(../img/bg_image_1.gif);
	padding: 20px 10px 30px;
	box-sizing: border-box;
}
#list_chara_inner {
	max-width: 1000px;
	margin: 0 auto;
}
#list_chara_inner h2 {
    max-width: 566px;
    margin: 0 auto;
    padding: 20px 10px 0;
    box-sizing: border-box;
}
#list_chara p {
	margin: 20px auto 0;
    text-align: center;
}

#list_chara .gacha_txt {
    margin-top: 20px;
	font-size: 1.2em;
	font-weight: bold;
}

#list_chara a {
	color: #000000;
}

#list_chara .btn {
    box-sizing: border-box;
    max-width: 528px;
    border: 1px solid #000000;
}
#list_chara p#list_chara_txt {
    margin: 20px auto 0;
    max-width: 640px;
}
#list_chara p#list_chara_img {
	max-width: 498px;
    margin: 20px auto 0;
    padding: 0 30px;
    box-sizing: border-box;
}
#list_chara ul {
    max-width: 1000px;
    margin: 10px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#list_chara li {
    width: 47%;
    max-width: 240px;
    list-style: none;
    flex-wrap: wrap;
    margin: 20px 1.5% 0 1.5%;
}
	
#list_chara .btn_ability {
    max-width: 180px;
    margin: 10px auto 0;
    padding: 0 10px;
	}
	
#list_chara #btn_shinka {
    max-width: 670px;
    margin: 20px auto 0;
    padding: 0 10px;
	box-sizing: border-box;
	}

#list_gacha {
	background-image: url(../img/bg_image_1.gif);
	background-repeat: repeat;
	background-position: top;
    padding: 0px 10px 50px;
    box-sizing: border-box;
}
#list_gacha ul {
  	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
#list_gacha li {
  max-width: 48%;
	list-style: none;
	padding: 5px 0;
	margin: 0 auto;
}
#list_gacha li:last-child {
	margin: 20px auto 0;
}

#list_dungeon_outer::before {
  content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100vh;
  background-color: #000000;
  background-image:url(../img/bg_dungeon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
#list_dungeon {
    text-align: center;
    padding: 51px 10px 50px;
    box-sizing: border-box;
}
#list_dungeon h2 {
	max-width: 566px;
	margin: 0 auto;
}
#howto {
	margin-top: -70px;
	padding-top: 70px;
}

#list_dungeon p {
	color: #ffffff;
}
#list_dungeon dt,
#list_dungeon dd {
	margin: 20px auto 0;
}
#list_dungeon dt.dt_1{
	padding: 0 30px;
}
#list_dungeon dt.dt_1 img {
	max-width: 536px;
}
#list_dungeon dt.dt_2 img {
	max-width: 736px;
}
#list_dungeon dt.dt_3 img {
	max-width: 672px;
}
#list_dungeon dd.dd_1 img {
	padding:0 0 30px; 
}

#list_dungeon dd.dd_1 .img1 {
	max-width: 200px;
}

#list_dungeon dd.dd_2 img {
	max-width: 670px;
	padding:0 0 30px; 
}
#list_dungeon dd.dd_3 img {
	max-width: 610px;
	padding:0 0 30px; 
}
#dungeon_img_1 {
	max-width: 1220px;
    margin: -40px auto 0;
	overflow: hidden;
	opacity: 0;
	position: relative;
    z-index: 1;
}
#dungeon_img_1 img {
    width: 150%;
    position: relative;
    left: -27%;
    margin: 0 auto;
}
#dungeon_img_2 {
	max-width: 700px;
    margin: 20px auto 0;
    padding: 0 10px;
    box-sizing: border-box;
}
#dungeon_img_4 {
	max-width: 678px;
    margin: 30px auto 0;
    padding: 0 10px;
    box-sizing: border-box;
}
#dungeon_txt {
    max-width: 398px;
    margin: 10px auto 0;
	position: relative;
    padding: 0 80px;
    box-sizing: border-box;
    z-index: 2;
}
#others {
	background-image:url(../img/bg_image_1.gif);
    background-repeat:repeat;
    padding: 61px 10px 70px;
    text-align: center;
}
#others h2 {
    max-width: 566px;
    padding: 0 0 30px;
    margin: 0 auto;
}
#others p {
    padding: 15px 0;
    box-sizing: border-box;
    max-width: 640px;
    margin: 0 auto;
}
#others .btn {
    max-width: 670px;
    margin: 20px auto 0;
    padding: 0 10px;
	box-sizing: border-box;
	}

#foot {
	background-image:url(../img/bg_image_2.gif);
    background-repeat:repeat;
	padding: 70px 0;
}
#foot_img {
	text-align: center;
	padding: 0 40px;
	box-sizing: border-box;
}
#foot_img img {
    max-width: 640px;
}
#foot #foot_txt {
	position: absolute;
	bottom: 40px;
	transform: translate(-50%,0);
	left: 50%;
	opacity: 0;
}
footer {
	background-color: #ffffff;
    background-repeat: repeat-x,repeat;
    background-position: top,top;
	color: #000000;
    padding: 60px 10px 30px;
    box-sizing: border-box;
}
footer p {
	color: #000000;
}
footer dt {
	font-size: 140%;
	font-weight: bold;
}
.download_box {
	margin-top: 5px;
}
.download_box ul {
	display: flex;
	max-width: 560px;
	margin: 0 auto;
}
.download_box li {
	list-style: none;
	margin-right: 5px;
}
.download_box li:last-child {
	margin-right: 0;
}
.back-to-top {
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}
.back-to-top a {
	text-decoration: none;
	color: #000000;
}
.social {
	display: flex;
	flex-wrap: wrap;
	max-width: 200px;
	margin: 10px auto 0;
}
.social li {
	list-style: none;
}
.social li:first-child {
	margin-right: 15px;
}
#copyright {
	font-size: 10px;
	text-align: center;
	background: #000000;
	padding: 5px 0;
}
#copyright p {
	color: #ffffff;
	font-size: 10px;
}
#pagetop {
	display: none;
	position: fixed;
	max-width: 70px;
	bottom: 10px;
	right: 10px;
	z-index: 100
}
.modal-content {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	width: 100%;
	max-width: 840px;
	padding: 0 10px;
	box-sizing: border-box;
	z-index: 101;
}
.over-ray {
	background: url(../img/bg_image_1.gif);
	height: 100%;
	width: 100%;
	display: block;
	position: fixed;
	top: 0;
  	left: 0;
	cursor: pointer;
	z-index: 100;
}
.modal-content .btn {
	display: flex;
	margin: 10px auto 0;
    padding: 0 10px;
    justify-content: center;
	max-width: 840px;
}
.modal-content .btn li{
    max-width: 120px;
    margin-right: 15px;
    list-style: none;
}
.modal-content .btn li:last-child{
	margin-right: 0;
}
.modal-content .btn li a.active {
	cursor: default;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.modal_close {
	position: absolute;
	width: 50px;
    top: -20px;
    right: -20px;
	cursor: pointer;
}
#modal_illust .modal_close {
	top: -10px;
	right: 10px;
}
#modal_ability .modal-content {
	max-width: 640px;
	margin: 0 auto;
}
#modal_ability strong {
    font-size: 130%;
    vertical-align: bottom;
    float: left;
    color: #000000;
}
#modal_ability ul {
    display: flex;
}

#modal_ability .cho_kakusei_box {
	height: 36px;
}

#modal_ability .cho_kakusei {
	display: none;
	list-style: none;
}
#modal_ability .cho_kakusei li {
  margin-right: 6px;
	list-style: none;
}
#modal_ability .cho_kakusei p {
    color: #000000;
	font-size: 130%;
    vertical-align: bottom;
    font-weight: bold;
}
#modal_ability li:last-child {
    margin-right: 0;
}
#modal_ability .cho_kakusei {
	margin-top: 5px;
}
#modal_ability .cho_kakusei img {
	max-width: 30px;
	vertical-align: middle;
}
#modal_ability .modal_close {
    top: -20px;
    right: 10px;
}
#modal_ability .ability_box {
	max-width: 320px;
	margin: 0 auto;
}
#modal_ability .ability_img {
	max-width: 320px;
	margin: 0 auto; 
}

.tac { text-align: center }
.fs80per { font-size: 80% }
.mt10 { margin-top:  10px; }
.mt15 { margin-top:  15px; }
.mt20 { margin-top:  20px; }

/*-------------- tablet size --------------------*/

@media screen and (min-width: 641px) {
html, body p {
	font-size: 16px;
}
.sp {
	display: block;
}
.tb {
	display: block;
}
.btn {
	max-width: 384px;
    box-sizing: content-box;
}
#nav_list ul {
   padding: 30px 0 30px;
}
#nav_list li a {
    display: inline-block;
    margin: 0;
	padding: 0 25px;
}
#list_chara_inner h2 {
    max-width: 500px;
    padding: 30px 0 0;
    box-sizing: content-box;
}
#list_chara_inner {
	max-width: 750px;
	margin: 0 auto;
}

#list_chara #btn_shinka {
    max-width: 560px;
    margin: 50px auto 0;
    padding: 0 10px;
	box-sizing: border-box;
	}
	
#list_chara .gacha_txt {
    margin-top: 30px;
	font-size: 2em;
	font-weight: bold;

}
	
#list_gacha {
	padding: 70px 0 90px;
	box-sizing: content-box;
	margin: 0 auto;
}

#list_dungeon h2 {
    max-width: 500px;
}

#list_dungeon dt {
	margin: 50px auto 0;
}
#list_dungeon dd {
	margin: 30px auto 0;
}

#list_dungeon dd.dd_1 .img1 {
	max-width: 286px;
}


#list_dungeon dd.dd_1 img {
	max-width: 384px;
}

#others h2 {
    max-width: 500px;
}

#others .btn {
    max-width: 560px;
    margin: 20px auto 0;
    padding: 0 10px;
	box-sizing: border-box;
	}
	
.modal_close {
	width: 78px;
}


.modal-content .btn {
box-sizing: content-box;
}

.modal-content .btn li{
    max-width: 180px;
}

#modal_ability .ability_box {
	max-width: 540px;
}
#modal_ability .ability_img {
	max-width: 540px;
}

#modal_ability .cho_kakusei img {
	width: calc(100vh / 1.77777777778);
	max-width: 30px;
}


#pagetop {
	max-width: 94px;
	bottom: 30px;
	right: 30px;
}

}

/*--------------　PC size --------------------*/

@media screen and (min-width: 1024px) {
.sp {
	display: none;
}
.pc {
	display: block;
}
.btn {
    padding: 0;
  	box-sizing: content-box;
}
#list_chara ul {
    margin: 35px auto 0;
}

#list_chara .lead_txt {
    margin-top: 40px;
}
#list_chara li {
    margin: 0 13.33333px 0 0;
    padding-bottom: 30px;
}
#list_chara li:nth-child(4n) {
    margin: 0;
}
#list_chara li:last-child {
    padding-bottom: 0;
}

#nav_list li a {
    padding: 0 25px;
}
#list_chara_inner {
	max-width: 1000px;
}
#list_chara {
	padding: 30px 0 0;
    box-sizing: content-box;
}
#list_chara .btn {
    padding: 0;
    box-sizing: content-box;
}

#list_chara p {
	margin: 10px 0 0;
}
#list_chara p#list_chara_txt {
    margin: 30px auto 0;
}
#list_chara p#list_chara_img {
	margin: 40px auto 0;
    padding: 0;
    box-sizing: content-box;
}

#list_chara #list_chara_txt img,
#list_chara #btn_shinka img,
#list_chara li img {
    transition: all 250ms 0s ease;
}
#list_chara #list_chara_txt img:hover,
#list_chara #btn_shinka img:hover,
#list_chara li img:hover {
	transform:scale(1.05);
	filter: brightness(1);
}

#list_gacha ul {
    max-width: 1000px;
}
#list_gacha li {
    max-width: 326px;
    margin: 0 10px 0 0;
    padding: 0;
}
#list_gacha li:last-child {
	margin: 0;
}	
#list_gacha li {
    max-width: 326px;
    margin: 0 20px 0 0;
    padding: 0;
}
#list_gacha li img,
#list_dungeon .btn,
#others .btn{
    transition: all 250ms 0s ease;
}
#list_gacha li img:hover,
#list_dungeon .btn:hover,
#others .btn:hover{
	transform:scale(1.05);
	filter: brightness(1);
}


#list_dungeon {
    padding: 90px 0 90px;
}
#list_dungeon li:first-child {
	margin-right: 40px;
}
#dungeon_txt {
    margin: 10px auto 0;
    padding: 0;
    box-sizing: content-box;
}
#others .btn {
    margin: 60px auto 0;
}
#others {
    padding: 80px 10px 100px;
    box-sizing: content-box;
}
#others p {
    padding: 75px 0 0;
    box-sizing: content-box;
}


#foot_img {
    padding: 0;
    box-sizing: content-box;
}
#foot_img {
    padding: 50px 0;
}
#foot_img img#foot_img_1 {
    max-width: 308px;
}
#foot p {
   padding: 0;
}
#foot #foot_txt {
	bottom: 80px;
}
footer {
	padding: 80px 10px 50px;
	box-sizing: content-box;
}
footer dt {
	font-size: 200%;
}



#pagetop img:hover {
	animation: 2.5s pagetop infinite alternate ease-in;
}
@keyframes pagetop {
  0%   { filter: brightness(1); transform: scale(1); }
  80%   { filter: brightness(2); transform: scale(1.1); }
  100%   { filter: brightness(2); transform: scale(1.1); }
}
.back-to-top {
    margin-top: 40px;
}	

}